{minimum_otp_vsn, "24.0"}.
{erl_opts, [debug_info]}.
{deps, [
  {ecli, {git, "https://github.com/mgmtd/ecli.git", {branch, "master"}}},
  {mgmtd, {git, "https://github.com/mgmtd/mgmtd.git", {branch, "master"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.1.0"}}},
  %% Last Cowboy/Cowlib/Ranch that still CI-test OTP 24. Cowboy 2.19.
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.18.0"}}},
  {ranch, {git, "https://github.com/ninenines/ranch.git", {tag, "2.2.1"}}},
  {cowlib, {git, "https://github.com/ninenines/cowlib.git", {tag, "2.19.0"}}},
  {eqwalizer_support,
    {git_subdir,
        "https://github.com/whatsapp/erlang-language-platform.git",
        {branch, "main"},
        "eqwalizer/eqwalizer_support"}}
]}.

{plugins, [
  {rebar3_erlydtl_plugin, "0.1.1"}
]}.

{shell, [
    {apps, [inets, cowboy, mgmtd_ems, ecli]}
]}.
